{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules" : false,
          "targets": {
            "ie": 11
          },
          "corejs": 3,
          "useBuiltIns": "usage"
        }
      ],
      ["@babel/preset-react"],
      [
        "@babel/preset-typescript"
      ]
    ],
    "plugins": [
    ]
  }